
bin/mitamae*

config/.zsh/.zcompcache/
config/.zsh/.zinc/
config/.zsh/prezto/
config/.zsh/fasd


config/.zsh/.zcompdump*
config/.zsh/.zlogin
config/.zsh/.zlogout
config/.zsh/.zhistory
config/.zsh/.zshenv_local
